services:
  app:
    container_name: prasetia-revops-hub
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - coolify

networks:
  coolify:
    external: true
